/* --- HIỆU ỨNG TUYẾT RƠI --- */
.snowflake {
  position: fixed;
  top: -10px;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation-name: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}
